<% if session[:lang] == "ua" 
    text ={
      :h1 => "Додати новий жанр",
      :back => "Назад"
    } 
  elsif session[:lang] == "en" 
    text ={
      :h1 => "Add new ",
      :back => "Back"
    } 
  elsif session[:lang] == "ru"
    text ={
      :h1 => "Добавить новой жанр",
      :back => "Назад"
    } 
  end 
%>
<div class="back">
  <h1 class="col-md-6 col-md-offset-3 text-center back"><%= text[:h1] %></h1>

  <%= render 'form', zhanr: @zhanr %>

  <%= link_to text[:back], zhanrs_path %>
</div>

